@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  @apply bg-slate-200
}
/* body {
  font-family: poppins, sans-serif;
  
  @apply bg-slate-200
} */

/* Make slick track stretch items */
.slick-track {
  display: flex !important;
}

/* Make each slide stretch */
.slick-slide {
  height: inherit !important;
  display: flex !important;
}

/* Make slide content fill */
.slick-slide > div {
  display: flex;
  width: 100%;
  height: 100%;
}

